.nav {
	display: flex;
	justify-content: space-between;
	/* margin: 10px 0px; */
	padding:5px 10px 0px 10px;
	/* width: 280px; */
	position: sticky;
    top: 0px;
    z-index: 999;
	background-color:#fdfdfd;
	padding-top:5px;
	box-shadow: 2px 5px 15px #f1f1f1;
	/* text-align: start; */
}

.nav_icon {
	/* width: 40px;
	height: 40px; */
	font-size: 25px;
	background-color: transparent;
	border-style: none;
}
