.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	margin: 0px auto;
}

.home_logoContainer {
	width: 150px;
	margin: 0px auto;
}

.home_logoContainer img {
	width: 100%;
}

.home_sliderContainer {
	width: 250px;
}

.home_sliderContainer img {
	width: 100%;
}

.home_button {
	margin-bottom: 20px;
	font-size: 15px;
	border-radius: 15px;
	border-style: none;
	height: 35px;
	width: 100px;
}
