.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	margin: 0px auto;
}

.home_logoContainer {
	width: 150px;
	margin: 0px auto;
}

.home_logoContainer img {
	width: 100%;
}

.home_button {
	margin-bottom: 20px;
	font-size: 22px;
	letter-spacing: 2px;
	border-radius: 15px;
	border-style: none;
	height: 50px;
	width: 300px;
	background-color: #252525;
	color: white;
	cursor: pointer;
}
.home_sliderContainer {
	text-align: center;
	display: flex;
	justify-content: center;
	position: relative;
}
.home_sliderContainer a {
	text-decoration: none;
	color: black;
	display: block;
}

/* .home_sliderContainer img {
	width: 100%;
	border-radius: 20px;
} */

.slider_imgContainer {
	width: 100%;
	margin: 0px;
	display: flex;
	align-content: center;
	justify-content: center;
}

.slider_imgContainer img {
	width: 100%;
	border-radius: 20px;
	box-shadow: 0px 0px 20px #000000ad;
}

.slider_title {
	margin: 0px;
}

.slider_titleContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffffad;
	/* width: 250px; */
	width: 80%;
	height: 40px;
	position: absolute;
	bottom: 150px;
	box-shadow: 0px 0px 20px #ffffffad;
	border-radius: 10px;
}
